@charset "UTF-8";
/* CSS Document */


body {
	font: "Maven Pro Light 300 Regular";
	margin: 0;
	padding: 0;
}

#home, #calendar, #plan, #workouts, #community, #profile {
	background: #d7d7d7 repeat;
}



.header {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0a0809+0,0a0e0a+38,6e7774+84,aebcbf+100 */

background: #0a0809; /* Old browsers */

background: -moz-linear-gradient(top,  #0a0809 0%, #0a0e0a 38%, #6e7774 84%, #aebcbf 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0a0809), color-stop(38%,#0a0e0a), color-stop(84%,#6e7774), color-stop(100%,#aebcbf)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #0a0809 0%,#0a0e0a 38%,#6e7774 84%,#aebcbf 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #0a0809 0%,#0a0e0a 38%,#6e7774 84%,#aebcbf 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #0a0809 0%,#0a0e0a 38%,#6e7774 84%,#aebcbf 100%); /* IE10+ */

background: linear-gradient(to bottom,  #0a0809 0%,#0a0e0a 38%,#6e7774 84%,#aebcbf 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0809', endColorstr='#aebcbf',GradientType=0 ); /* IE6-9 */
height: 100px;

	
}


.blackLine {
	width: 100%;
	height: 5px;
	/*background: url(assets/images/blackLine.png) no-repeat;*/
	background-color: red; 
	margin: 0;
	padding: 0;
}

.div-wrapper {
	position: relative;
	
}

.div-wrapper {
	position: absolute;
	left: 0;
	bottom: 0;
}

.blueLine {
	width: 100%;
	height: 5px;
	background: url(assets/images/blueLine.png) no-repeat;
	margin: 0;
	padding: 0;
}

.footer {
	height: 70px;
	background:#FFFFFF ;
	margin: 0; 
	padding: 0;
}
